<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /e-commerce-PHP

    # Redirect all requests to the index.php file
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>